AISPACE_GATEWAY_HOST=127.0.0.1
AISPACE_GATEWAY_PORT=17321
AISPACE_GATEWAY_TOKEN=
AISPACE_COOKIE=
AISPACE_DSM_EID=
AISPACE_BRIDGE_URL=
AISPACE_BRIDGE_TOKEN=
AISPACE_CHROME_USER_DATA_DIR=
AISPACE_CHROME_PROFILE_NAME=Default
AISPACE_PYTHON=python
AISPACE_SERVICE_RESOLVE_CONCURRENCY=1
AISPACE_SERVICE_RESOLVE_DELAY_MS=500
AISPACE_SERVICE_RESOLVE_RETRY_DELAY_MS=1000
